{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!--this protect our form against certeain attacks ,added security django rquires-->
            <fieldset class="form-group">
              <legend class="border-botton mb-4">Log In</legend>
              {{ form|crispy}} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
            <!--- put div for a link if he is already have account--->
            <div class="border-top pt-3">
                <small class="test-muted">Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a></small> 
                <!--it a bootstrap -->
            </div>
        </form>
    </div>
{% endblock %}
