{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!--we will print the username when he have access --->
<!-- here the user represents the current logged in user by "<h1>{{ user.username }} </h1>" ba3d chnfas5oha wn3awdhha b snippet te3 corey-->
    
       <div class="content-section">
      <div class="media">
        <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data"><!--add this comment "enctype="multipart/form-data"" to save theimage in the background-->
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock %}
