{% extends 'Base.html' %}
{% block content %}
<!--- "view.kwargs.username" to take the username from the url and to display the number of posts have use"page_obj.paginator.count", "count" will return  the number of objects that exist along of the pages- and then change the dead link in <h2> by "% url 'user-posts' post.author.username %" , then put this link in home and post detail(change post to object) template to make access to him--->

  <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
  {% for post in posts %}
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
	      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> <!--#le caractere| for filtring date -->
	    </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
	    <p class="article-content">{{ post.content }}</p>
	  </div>
	</article>
  {% endfor %}
  <!--here we will put our pagination logic -->
      {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content%}
